# Copy this file to "/etc/systemd/system" and make sure the owner is root.
# Point "ExecStart" to "case_fan.sh" below and change the working directory to the directory containing the scripts.
# Change "User" to your username

[Unit]
Description=Case Fan Script
After=syslog.target

[Service]
Type=simple
ExecStart=/home/ubuntu/case-fan/case_fan.sh
WorkingDirectory=/home/ubuntu/case-fan
Restart=on-failure
RestartSec=10
User=ubuntu

[Install]
WantedBy=multi-user.target
